{{ with site.Data.site.intro }}
{{ $bg := resources.Get .background }}
{{ with $bg }}{{ $bg = .Resize "1600x" }}{{ end }}
<section
  class="intro section{{ with $bg }} intro--has-bg{{ end }}"
  id="intro"
  {{ with $bg }}style="--intro-bg: url('{{ .RelPermalink }}')"{{ end }}
>
  <div class="intro__stage">
    {{ range $i, $text := .left }}
      <div class="intro__item intro__item--left intro__item--{{ add $i 1 }}">
        <p class="intro__text">{{ $text }}</p>
        <span class="intro__mark" aria-hidden="true">+</span>
      </div>
    {{ end }}

    <div class="intro__portrait" role="img" aria-label="Ekaterina Mihailova"></div>

    {{ range $i, $text := .right }}
      <div class="intro__item intro__item--right intro__item--{{ add $i 4 }}">
        <span class="intro__mark" aria-hidden="true">+</span>
        <p class="intro__text">{{ $text }}</p>
      </div>
    {{ end }}
  </div>
</section>
{{ end }}
