{{ with site.Data.site.intro }}
<section class="intro section section--mist" id="intro">
  <div class="cloud cloud--top"></div>
  <div class="container intro__layout">
    <div class="intro__media">
      {{ partial "photo.html" (dict "src" .image "class" "intro__photo" "alt" "Ekaterina Mihailova" "label" "Consultation") }}
    </div>
    <div class="intro__thoughts">
      {{ range .thoughts }}
        <div class="intro__thought">{{ . }}</div>
      {{ end }}
    </div>
  </div>
  <div class="intro__prop intro__prop--folder" aria-hidden="true"></div>
</section>
{{ end }}
